*{
    margin:0;
    padding:0;
    
  }
  
  .blink{
    background-color:grey;
  }
  
  .wrapper{
    height:100vh;
    margin:auto;
    width:1000px;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  textarea{
    box-sizing:border-box;
    width:100%;
    height:200px; 
  }
  
  .keyboard{
  
    width:100%;
  }
  
  .key, .key_active{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    width:60px;
    height:60px;
    border: 1px solid;
    margin:5px;
    border-radius:5px;
  }
  
  .key:hover,.key_active:hover{
    background-color:grey;
    transition:0.5s;
    cursor:pointer;
  }
  
  .row{
     box-sizing:border-box;
    width:100%;
    heigth:auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
  }
  
  .backspace, .enter, .caps, .shift  {
    width:120px;
  }
  
  
  .space{
    width:530px
  }
  
  .key:active,.key_active:active{
    background-color:white;
  }
  
  .clicker{
    background-color:grey;
  }
  
  .os{
   text-align:center;
    margin-top:10px;
  }

  h1{
      margin-bottom:20px;
  }